Fxp_C_Model/x64/*
Fxp_C_Model/.vs/*
Fxp_C_Model/Debug/*
Fxp_C_Model/Release/*
Fxp_C_Model/Outputs/*
*.map
Scripts/.idea/*
Scripts/__pycache__/*
Scripts/Scripts.iml

Fxp_C_Model/*.wav
Fxp_C_Model/FW_Param_Init.cpp

Shared/include/*_ParamStruct.h

